.grid-main {
    position: relative;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.grid-main figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0;
    width: 100%;
    background: #222222;
    text-align: center;
    cursor: pointer;
}
.grid-main figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 1;
}
.grid-main figure figcaption {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid-main figure figcaption::before,
.grid-main figure figcaption::after {
    pointer-events: none;
}
.grid-main figure figcaption,
.grid-main figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.grid-main figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.grid-main figure h2 {
    opacity: 0;
    font-size: 25px;
    word-spacing: -0.15em;
    font-weight: 300;
}
.grid-main figure h2 span {
    font-weight: 800;
}
.grid-main figure h2,
.grid-main figure p {
    margin: 0;
}
.grid-main figure p {
    letter-spacing: 1px;
    font-size: 68.5%;

}
figure.effect-chico img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}
figure.effect-chico:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
}
figure.effect-chico:hover h2{
    transition: opacity 0.35s;
    opacity : 1;
}

figure.effect-chico figcaption {

}

figure.effect-chico figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

figure.effect-chico figcaption::before,
figure.effect-chico p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-chico h2 {
    padding: 29% 0 20px 0;
}

figure.effect-chico p {
    margin: 0 auto;
    max-width: 200px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media screen and (max-width: 50em) {
    .content {
        padding: 0 10px;
        text-align: center;
    }
    .grid-main figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
    }
}