@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Playfair+Display:400,700|Satisfy&subset=cyrillic-ext");
@import url(../css/chico.css);
@-webkit-keyframes border {
  from {
    right: 100%; }
  to {
    right: 0%; } }
@keyframes border {
  from {
    right: 100%; }
  to {
    right: 0%; } }

iframe, object, embed {
  max-width: 100%; }

* {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #0e0e0e; }

.wrapper {
  max-width: 900px;
  margin: auto;
  text-align: center; }

.responsive-image, main .price-container .price-item .price-item__image, footer .social-container__item img {
  width: 100%;
  height: auto; }

body {
  font-family: 'Playfair Display', serif; }

header {
  border-bottom: 1px solid #eeeaea; }
  header .logo {
    padding: 20px 0;
    max-width: 900px;
    margin: auto;
    text-align: center;
    font-family: 'Satisfy';
    font-size: 55px; }
  header .menu {
    padding: 20px 0;
    max-width: 450px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    header .menu .menu-item {
      position: relative;
      overflow: hidden;
      padding-bottom: 3px; }
      header .menu .menu-item:hover {
        cursor: pointer;
        color: #e9c4b0;
        -webkit-transition: ease 900ms;
        transition: ease 900ms; }
      header .menu .menu-item:hover::before {
        -webkit-animation: border 900ms;
        animation: border 900ms;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        border-bottom: 1px solid #e9c4b0; }
      header .menu .menu-item:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        right: 100%;
        border-bottom: 1px solid #0e0e0e; }

main .grid-main, main .price-container, main .contacts-container, main .video-container, main .album-container, main .loading-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  main .grid-main .grid-item, main .price-container .grid-item, main .contacts-container .grid-item, main .video-container .grid-item, main .album-container .grid-item, main .loading-container .grid-item {
    position: relative;
    margin: 1.5px; }

main .price-container .price-item {
  padding: 10px; }
  main .price-container .price-item .price-item__image {
    max-width: 200px; }
  main .price-container .price-item .price-item__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    border-bottom: 1px solid #e9c4b0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    main .price-container .price-item .price-item__header .price-item__header__cost {
      font-family: 'Playfair Display', serif;
      font-weight: 300; }
  main .price-container .price-item .price-item__list {
    list-style: none;
    text-align: justify;
    font-size: 15px;
    min-height: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    main .price-container .price-item .price-item__list .price-item__list__item {
      text-align: left;
      line-height: 17px;
      font-size: 13px; }
      main .price-container .price-item .price-item__list .price-item__list__item:before {
        content: '-';
        font-weight: bold; }
      main .price-container .price-item .price-item__list .price-item__list__item:nth-child(1) {
        padding-top: 20px; }

main .contacts-container {
  grid-template-columns: 1fr 1fr; }
  main .contacts-container .contacts-container__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    main .contacts-container .contacts-container__text p {
      padding: 10px 0; }
      main .contacts-container .contacts-container__text p span {
        font-weight: bold; }
      main .contacts-container .contacts-container__text p a {
        text-decoration: none;
        color: #0e0e0e; }

main .video-container {
  grid-template-columns: 1fr; }
  main .video-container .video-item {
    position: relative;
    padding: 5px; }
    main .video-container .video-item .responsive-video {
      padding-top: 10px;
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      height: 0; }
      main .video-container .video-item .responsive-video iframe {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute; }
    main .video-container .video-item .video-item__header {
      font-size: 20px;
      font-weight: bold;
      text-align: left;
      padding: 10px 0;
      border-bottom: 1px solid #e9c4b0; }

main .album-container {
  display: block; }
  main .album-container .album-header {
    border-bottom: 2px solid #e9c4b0;
    width: 100%;
    text-align: left;
    font-weight: 300;
    padding: 10px 0;
    font-size: 25px; }
  main .album-container .album-content {
    -webkit-column-count: 1;
    column-count: 1; }

main .loading-container {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

footer {
  padding-top: 50px;
  max-width: 900px;
  margin: auto; }
  footer .social-container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    footer .social-container__item {
      padding: 10px 10px; }
      footer .social-container__item img {
        width: 15px; }

@media screen and (max-width: 768px) {
  .grid-main, main .price-container, main .contacts-container, main .video-container, main .album-container, main .loading-container {
    grid-template-columns: 1fr !important;
    padding: 0 15px; } }

@media (min-width: 768px) and (max-width: 900px) {
  .grid-main, main .price-container, main .contacts-container, main .video-container, main .album-container, main .loading-container {
    grid-template-columns: 1fr 1fr !important;
    padding: 0 15px; } }
