mixin card(album)
    div.card.text-white.bg-dark
        img.card-img-top(src='/images/'+album.cover)
        div.card-body
            h4.card-title= album.man + ' и ' + album.woman

        .card-footer
            .btn-group
                a.btn.btn-light(href='/admin/albums/' + album.albumId) Открыть
                button.btn.btn-primary(data-id=album.albumId data-type="albums" id="delete") Удалить
                a.btn.btn-info(href='/admin/albums/' + album.albumId +'/edit') Редактировать