

nav(class="navbar navbar-light" style="background-color:#e3f2fd;")
    div.nav
        a(class="navbar-brand" href="/" style="font-size: 1.25rem") LightHouse Admin
        a.nav-item.nav-link(href="/admin/dashboard") Дашборд
        a.nav-item.nav-link(href="/admin/albums") Альбомы
        a.nav-item.nav-link(href="/admin/video") Видео
        a.nav-item.nav-link(href="/admin/options") Настройки
    a(class="btn btn-outline-success" href="/admin/logout")    Выйти
