html
    head
        include components/head.pug
    body(style="font-family: 'Roboto', sans-serif")
        include components/header.pug
        div.content.container
            block content

        block footer