html
    include components/head.pug
    body(style="padding:40px")
        div.container
            form(style="max-width:330px;margin:auto" action="/admin/login" method="post")
                div.form-group
                    label
                        h2 Введите пароль
                    input(type="password" class="form-control" name="password")
                button.btn.btn-lg.btn-block.btn-primary Войти
