doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title «LightHouse» - свадебная съемка во Владимире
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="icon" href="/favicon.ico" type="image/x-icon")
    body
        #root
        link(rel='stylesheet', href='/css/main.min.css')
        link(rel='stylesheet', href='/css/chico.min.css')
        script(src='/bundle.js')
        // Yandex.Metrika counter
        script(type='text/javascript').
                (function (d, w, c) {
                    (w[c] = w[c] || []).push(function () {
                        try {
                            w.yaCounter46739592 = new Ya.Metrika({
                                id: 46739592,
                                clickmap: true,
                                trackLinks: true,
                                accurateTrackBounce: true
                            });
                        } catch (e) {
                        }
                    });
                    var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
                        n.parentNode.insertBefore(s, n);
                    };
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = "https://mc.yandex.ru/metrika/watch.js";
                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                    } else {
                        f();
                    }
                })(document, window, "yandex_metrika_callbacks");
        noscript
                div
                    img(src='https://mc.yandex.ru/watch/46739592', style='position:absolute; left:-9999px;', alt='')
        // /Yandex.Metrika counter
