@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Playfair+Display:400,700|Satisfy&subset=cyrillic-ext')

@import "../css/chico.css"

$text-color : #0e0e0e
$pink: #e9c4b0
$wrapper : 900px


@keyframes border
  from {right: 100%}
  to { right : 0% }


iframe, object, embed
  max-width: 100%

*
  padding: 0
  margin: 0
a
  text-decoration: none
  color: $text-color






.wrapper
  max-width: $wrapper
  margin: auto
  text-align: center

.responsive-image
  width: 100%
  height: auto

body
  font-family: 'Playfair Display', serif

header
  border-bottom: 1px solid #eeeaea
  //padding: 30px 0 10px 0
  .logo
      padding: 20px 0
      max-width: $wrapper
      margin: auto
      text-align: center
      font-family: 'Satisfy'
      font-size: 55px
  .menu
    padding: 20px 0
    max-width: $wrapper/2
    margin: auto
    display: flex
    align-content: space-between
    justify-content: space-around
    .menu-item
      position: relative
      overflow: hidden
      padding-bottom: 3px
      &:hover
        cursor: pointer
        color: $pink
        transition: ease 900ms
      &:hover::before
        animation: border 900ms
        animation-fill-mode: forwards
        border-bottom: 1px solid $pink
      &:before
        content: ''
        position: absolute
        width: 100%
        height: 1px
        bottom: 0
        right: 100%
        border-bottom: 1px solid $text-color


main
  .grid-main
    margin-top: 20px
    display: grid
    grid-template-columns:   1fr 1fr 1fr
    .grid-item
      position: relative
      margin: 1.5px
  .price-container
    @extend .grid-main
    .price-item
      padding: 10px
      .price-item__image
        @extend .responsive-image
        max-width: 200px
      .price-item__header
        display: flex
        font-weight: bold
        font-family: 'Playfair Display', serif
        font-size: 25px
        border-bottom: 1px solid $pink
        justify-content: space-between
        .price-item__header__cost
          font-family: 'Playfair Display', serif
          font-weight: 300
        .price-item__header__name
      .price-item__list
        list-style: none
        text-align: justify
        font-size: 15px
        min-height: 270px
        display: flex
        flex-direction: column
        justify-content: space-between
        .price-item__list__item
          text-align: left
          line-height: 17px
          font-size: 13px
          &:before
            content: '-'
            font-weight: bold
          &:nth-child(1)
            padding-top: 20px
  .contacts-container
    @extend .grid-main
    grid-template-columns: 1fr 1fr
    .contacts-container__text
      display: flex
      flex-direction: column
      justify-content: center
      p
        padding: 10px 0
        span
          font-weight: bold
        a
          text-decoration: none
          color: #0e0e0e
  .video-container
    @extend .grid-main
    grid-template-columns: 1fr
    .video-item
      position: relative
      padding: 5px
      .responsive-video
        padding-top: 10px
        overflow: hidden
        padding-bottom: 56.25%
        position: relative
        height: 0
        iframe
          width: 100%
          height: 100%
          left: 0
          top: 0
          position: absolute
      .video-item__header
        font-size: 20px
        font-weight: bold
        text-align: left
        padding: 10px 0
        border-bottom: 1px solid $pink
  .album-container
    @extend .grid-main
    display: block
    .album-header
      border-bottom: 2px solid $pink
      width: 100%
      text-align: left
      font-weight: 300
      padding: 10px 0
      font-size: 25px
    .album-content
      column-count: 1
  .loading-container
    @extend .grid-main
    height: 300px
    display: flex
    align-items: center
    justify-content: center

footer
  padding-top: 50px
  max-width: $wrapper
  margin: auto
  .social-container
    justify-content: center
    display: flex
    &__item
      padding: 10px 10px
      img
        @extend .responsive-image
        width: 15px





@media screen and (max-width: 768px)
  .grid-main
    grid-template-columns: 1fr!important
    padding: 0 15px
@media (min-width: 768px) and (max-width: 900px)
  .grid-main
    grid-template-columns:  1fr 1fr!important
    padding: 0 15px






