extends ../layout

include ../components/card


block content
    div.clearfix(style="padding:20px 0")
        h1.float-left Все альбомы
        a.float-right.btn.btn-primary(href='/admin/albums/new') Добавить
    div.card-columns
        each album in albums
           +card(album)