extends ../layout

block content
    h2(style="padding:20px 0") Редактировать альбом
    form(method="POST" action="/admin/albums/"+ data.albumId +'/update')
        div.form-row
            div.form-group.col
                label Имя жениха
                input.form-control(type="text" name="man" placeholder="Имя жениха" value=data.man)
            div.form-group.col
                label Имя невесты
                input.form-control(type="text" name="woman" placeholder="Имя невесты" value=data.woman)
        button.btn.btn-primary(type="submit") Сохранить
