extends ../layout

block content
    h1(style="padding:20px 0")= album.woman + ' и ' + album.man
    div.images
        each photo in album.images
                img.img-thumbnail(src='/images/' + photo style="width:200px;height:200px")
