extends ../layout

block content
    h1(style="padding:20px 0") Добавить альбом
    form(method="post" enctype="multipart/form-data" action="/admin/albums/new")
        div.form-row
            div.form-group.col
                label Имя жениха
                input.form-control(type="text" name="man" placeholder="Имя жениха")
            div.form-group.col
                label Имя невесты
                input.form-control(type="text" name="woman" placeholder="Имя невесты")
        div.form-group
            label Изображение обложки
            input.form-control(type="file" name="cover" placeholder="Изображение обложки")
        div.form-group
            label Все изображения
            input.form-control(type="file" name="images" placeholder="Все изображения" multiple)
        button.btn.btn-primary(type="submit") Сохранить


block footer
    script(type="text/javascript" src="/js/script.js")