extends ../layout

block content
    h1(style="padding:20px 0") Добавить видео
    form(method="post"  action="/admin/video/new")
        div.form-group.col
            label Ссылка на видео
            input.form-control(type="text" name="video" placeholder="Ссылка на видео")
        button.btn.btn-primary(type="submit") Сохранить

