extends ../layout

block content
    h1 Настройки
    form(method="post" enctype="multipart/form-data" action="/admin/options")
        div.form-group
            label Изображение пакетов 1
            input.form-control(type="file" name="image" placeholder="Все изображения")
        div.form-group
            label Изображение пакетов 2
            input.form-control(type="file" name="image" placeholder="Все изображения")
        div.form-group
            label Изображение пакетов 3
            input.form-control(type="file" name="image" placeholder="Все изображения")


        button.btn.btn-primary(type="submit") Сохранить
