extends ../layout



block content
    div.clearfix(style="padding:20px 0")
        h1.float-left Видео
        a.float-right.btn.btn-primary(href='/admin/video/new') Добавить
    div.row
        each video in videos
            .col-4
                .card
                    .card-body
                        .responsive-video
                            iframe(src="https://player.vimeo.com/video/" + video.vimeoId, frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                    .card-footer
                            button.btn.btn-default(id="delete" data-id=video.videoId data-type="video") Удалить

